@charset "UTF-8";
.main-button, .select-product__item, .form__input, .hero-slide__text p, .benefits__text, .product-price__cost, .select-category__item, .footer {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
}

body, .form__button {
  font-family: "Lato-Semibold", sans-serif;
  font-weight: 600;
}

.header-info__wrapper, .benefits__title, .products-filter__button, .product__news, .banners__link, .stock-product__rating, .our-news__date, .main-button--footer {
  font-family: "Lato-Bold", sans-serif;
  font-weight: 700;
}

.title, .our-news__number {
  font-family: "Signika-SemiBold", sans-serif;
  font-weight: 700;
}

.product__news-new, .product__news-discount, .product__news-hit {
  border-radius: 6px;
  padding: 0 6px;
}

@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Lato-Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Semibold';
  font-weight: 600;
  font-style: normal;
  src: local("Lato-Semibold"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Signika-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local("Signika-SemiBold"), url("../fonts/Signika-SemiBold.woff2") format("woff2"), url("../fonts/Signika-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Signika-Bold"), url("../fonts/Signika-Bold.woff2") format("woff2"), url("../fonts/Signika-Bold.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 1.4;
  color: #121212;
  letter-spacing: 0.48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

svg {
  fill: #fff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.padding {
  padding: 72px 0;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-button {
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: #63a60f;
  padding: 12px 24px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main-button:hover {
  background-color: #4d800c;
}

.main-button:active {
  -webkit-box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.5);
}

.hover-item {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.hover-item:hover {
  opacity: 0.7;
}

.focus {
  border: 3px solid transparent;
  outline: transparent;
}

.focus:focus {
  border: 3px solid #e0edcf;
  border-radius: 6px;
}

.breadcrumbs {
  color: #505050;
  background-color: #F6F6F6;
  padding: 24px 0;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;
  margin-right: 18px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -11px;
  width: 6px;
  height: 10px;
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.header-info {
  background-color: #31352b;
}

.header-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  padding: 11px 0;
}

.delivery-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-phone__item:not(:last-child) {
  margin-right: 40px;
}

.delivery-phone__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery-phone svg {
  fill: #fff;
  margin-right: 12px;
  cursor: pointer;
}

.info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-about__item:not(:last-child) {
  margin-right: 18px;
}

.menu {
  background-color: #63a60f;
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0;
}

.menu-product {
  display: block;
  position: relative;
  max-width: 240px;
  width: 100%;
  line-height: 3.5;
  background-color: #fff;
  color: #63a60f;
  border: none;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.menu-product:hover {
  background-color: #e0edcf;
}

.select-product {
  position: relative;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 6px 6px 0 0;
  padding-left: 60px;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.select-product.on {
  background-color: #e0edcf;
}

.select-product::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 17px;
  background-image: url("../images/icons/nav_icon.svg");
  left: 18px;
  top: 15px;
}

.select-product::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 22px;
  right: 18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.select-product.on::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-product__list {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 0 0 6px 6px;
  left: 0;
  top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 2;
}

.select-product__list.on {
  display: block;
}

.select-product__item {
  display: block;
  color: #121212;
  border-bottom: 1px solid #c1c1c1;
  border-left: 3px solid transparent;
  padding: 0 25px;
  -webkit-transition: color 0.3s, border-left 0.3s;
  transition: color 0.3s, border-left 0.3s;
}

.select-product__item:last-child {
  border-bottom: none;
}

.select-product__item:hover {
  color: #63a60f;
  border-left: 3px solid #63a60f;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 576px;
  width: 100%;
}

.form::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/loupe.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: 12px;
}

.form__input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px 0 0px 6px;
  padding-left: 50px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #31352b;
}

.form__input:hover {
  background-color: #eff6e7;
}

.form__input:focus {
  border-radius: 6px 0 0px 6px;
}

.form__input::-webkit-input-placeholder {
  color: #31352b;
}

.form__input:-ms-input-placeholder {
  color: #31352b;
}

.form__input::-ms-input-placeholder {
  color: #31352b;
}

.form__input::placeholder {
  color: #31352b;
}

.form__button {
  width: 210px;
  height: 50px;
  background-color: #31352b;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 0 6px 6px 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.form__button:hover {
  background-color: rgba(49, 53, 43, 0.85);
}

.form__button:active {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form__button:focus {
  border-radius: 0 6px 6px 0;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-navigation__item:not(:last-child) {
  margin-right: 22px;
}

.user-navigation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  padding: 0;
}

.user-navigation__button:hover {
  background-color: #4d800c;
}

.user-navigation__button:active {
  background-color: #63a60f;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-navigation__button:active svg {
  opacity: 0.5;
}

.user-navigation__number {
  position: absolute;
  top: -4px;
  left: 0;
  width: 18px;
  height: 18px;
  font-size: 10px;
  line-height: 1.8;
  text-align: center;
  color: #cf3e3b;
  background-color: #fff;
  border-radius: 50%;
}

.hero-slide {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
}

.hero-slide__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 369px);
}

.hero-slide__text {
  max-width: 900px;
  color: #505050;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  margin-bottom: 30px;
  padding: 24px;
}

.hero-slide__text p {
  font-size: 16px;
  letter-spacing: normal;
}

.hero-slide__title {
  font-size: 60px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.hero-slide__title-discount {
  display: block;
  color: #cf3e3b;
  margin-bottom: 14px;
}

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  border: 3px solid transparent;
  outline: transparent;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 0;
}

.slick-arrow:focus {
  border: 3px solid #e0edcf;
  border-radius: 6px;
}

.slick-arrow.slick-prev {
  left: 60px;
}

.slick-arrow.slick-next {
  right: 60px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0;
  background-color: #f6f6f6;
}

.benefits svg {
  margin-right: 24px;
}

.benefits__content {
  letter-spacing: normal;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item:not(:last-child) {
  margin-right: 48px;
}

.benefits__title {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.benefits__text {
  color: #505050;
}

.products-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.products-filter__item:not(:last-child) {
  margin-right: 16px;
}

.products-filter__button {
  font-size: 15px;
  color: #505050;
  text-transform: uppercase;
  background-color: transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
  padding: 0;
}

.products-filter__button:hover {
  border-bottom: 3px solid #e0edcf;
}

.products-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 48px;
}

.product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  height: 410px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  padding: 18px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.product:hover {
  border: 1px solid #63a60f;
}

.product__news {
  position: absolute;
  top: 12px;
  left: 12px;
  max-width: 60px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}

.product__news-new {
  background-color: #63a60f;
}

.product__news-discount {
  background-color: #cf3e3b;
}

.product__news-hit {
  background-color: #ff7a00;
}

.product__image {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 37px;
}

.product-favorite {
  width: 36px;
  height: 32px;
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 0;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.product-favorite svg {
  fill: #c1c1c1;
}

.product-favorite svg:hover {
  fill: #ffb800;
}

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: auto;
}

.product-price__cost {
  font-size: 14px;
  color: #505050;
}

.product-price__cost-old {
  display: block;
  position: relative;
  color: #c1c1c1;
}

.product-price__cost-old::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #c1c1c1;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  left: 0;
}

.product-cart {
  width: 32px;
  height: 32px;
  background-color: #63a60f;
  border: none;
  padding: 0;
}

.products-more {
  display: block;
  color: #63a60f;
  background-color: #fff;
  border: 1px solid #63a60f;
  margin: 0 auto;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.products-more:hover {
  background-color: #e0edcf;
}

.banners__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 630px 300px 300px;
      grid-template-columns: 630px 300px 300px;
  gap: 30px;
}

.banners__item {
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.banners__item:hover {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.banners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  letter-spacing: 1.6px;
  color: #505050;
  text-transform: uppercase;
}

.banners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 260px;
  padding: 32px;
}

.banners__content--bigwidth {
  max-width: 470px;
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.banners__subtitle {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 18px;
}

.banners__title {
  font-size: 30px;
  letter-spacing: normal;
  margin-bottom: 18px;
}

.banners__link-buy {
  border-bottom: 2px solid #505050;
}

.banners__link-buy--border {
  border-bottom: 2px solid #fff;
}

.stock {
  background-color: #f5f5f5;
  margin: 72px 0;
}

.stock-product {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300px;
  height: 125px;
  background-color: #fff;
  padding: 12px;
}

.stock-product__image {
  margin-right: 12px;
}

.stock-product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.stock-product__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: auto;
}

.stock-product__cost-old {
  display: inline-block;
  font-size: 12px;
}

.stock-product__cost-normal {
  position: relative;
  font-size: 20px;
  margin-right: 12px;
}

.stock-product__cost-normal::after {
  content: "₽";
  position: absolute;
  font-size: 12px;
  bottom: 0;
  right: -2px;
}

.stock-product__rating {
  position: relative;
  padding-right: 20px;
}

.stock-product__rating::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/rating.svg");
  background-repeat: no-repeat;
  right: 0;
}

.stock-product__more {
  display: block;
  margin: 0 auto;
}

.logotype-slider__item svg {
  display: block;
  margin: 0 auto;
}

.our-news__title {
  text-align: left;
}

.our-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-news__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 410px;
  width: 100%;
  font-size: 18px;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.our-news__date {
  position: absolute;
  top: 0;
  left: 20px;
  width: 65px;
  height: 75px;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  padding-top: 18px;
}

.our-news__number {
  display: block;
  font-size: 30px;
}

.our-news__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 250px 18px 18px;
}

.our-news__link:hover {
  color: #63a60f;
}

.catalog__wrapper {
  padding: 48px 0 72px;
}

.catalog__title {
  text-align: left;
  margin-bottom: 48px;
}

.catalog-category {
  display: block;
  position: relative;
  max-width: 240px;
  width: 100%;
  line-height: 3.5;
  background-color: #fff;
  color: #63a60f;
  border: none;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.catalog-category:hover {
  background-color: #e0edcf;
}

.select-category {
  position: relative;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 6px 6px 0 0;
  padding-left: 60px;
  cursor: pointer;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.select-category.on {
  background-color: #e0edcf;
}

.select-category::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 17px;
  background-image: url("../images/icons/nav_icon.svg");
  left: 18px;
  top: 15px;
}

.select-category::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 22px;
  right: 18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.select-category.on::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select-category__list {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 0 0 6px 6px;
  left: 0;
  top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 2;
}

.select-category__list.on {
  display: block;
}

.select-category__item {
  display: block;
  color: #121212;
  border-bottom: 1px solid #c1c1c1;
  border-left: 3px solid transparent;
  padding: 0 25px;
  -webkit-transition: color 0.3s, border-left 0.3s;
  transition: color 0.3s, border-left 0.3s;
}

.select-category__item:last-child {
  border-bottom: none;
}

.select-category__item:hover {
  color: #63a60f;
  border-left: 3px solid #63a60f;
}

.footer {
  color: #fff;
  background-color: #31352b;
  padding: 13px 0 20px;
}

.footer__wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.logo__images--footer {
  margin-bottom: 13px;
}

.subscribe p {
  line-height: 1;
  letter-spacing: normal;
  margin-bottom: 18px;
}

.form-footer {
  width: 300px;
}

.form-footer::before {
  display: none;
}

.form-footer__input {
  height: 40px;
  padding-left: 12px;
}

.main-button--footer {
  width: 118px;
  height: 40px;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: #63a60f;
  border-radius: 0 6px 6px 0;
  padding: 0 10px 0 8px;
}

.main-button--footer:active {
  border-radius: 0 6px 6px 0;
}

.main-button--footer:focus {
  border-radius: 0 6px 6px 0;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu__list:not(:last-child) {
  margin-right: 70px;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 18px;
}

.contact__list {
  margin-bottom: 18px;
}

.contact__item:not(:last-child) {
  margin-bottom: 18px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.footer-bottom {
  padding-top: 20px;
}

.footer-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bank-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bank-card__item:not(:last-child) {
  margin-right: 24px;
}
/*# sourceMappingURL=style.css.map */