$body: #121212;
$accent: #63a60f;
$header-footer: #31352b;
$content: #505050;
$discount: #cf3e3b;
$hover: #e0edcf;
$main-hover: #4d800c;

%lato-400 {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
}

%lato-600 {
  font-family: "Lato-Semibold", sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: 700;
}

%signika-600 {
  font-family: "Signika-SemiBold", sans-serif;
  font-weight: 700;
}

%signika-700 {
  font-family: "Signika-Bold", sans-serif;
  font-weight: 700;
}

%news-border {
  border-radius: 6px;
  padding: 0 6px;
}
