$accent: #63a60f;
$header-footer: #31352b;


%lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-600 {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%signika-700 {
  font-family: 'Signika-SemiBold', sans-serif;
  font-weight: 700;
}

%signika-700 {
  font-family: 'Signika-Bold', sans-serif;
  font-weight: 700;
}

%hover {
  & li {
    transition: opacity .3s;
  }

  & li:hover {
    opacity: 0.7;
  }
}