$green-1000: #4d800c;
$green-900: #63a60f;
$green-200: #e0edcf;
$green-100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352b;
$dark-500: #505050;
$red-900: #cf3e3b;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #fff;

%lato-400 {
  font-family: "Lato-Regular", sans-serif;
  font-weight: 400;
}

%lato-600 {
  font-family: "Lato-Semibold", sans-serif;
  font-weight: 600;
}

%lato-700 {
  font-family: "Lato-Bold", sans-serif;
  font-weight: 700;
}

%signika-600 {
  font-family: "Signika-SemiBold", sans-serif;
  font-weight: 700;
}

%signika-700 {
  font-family: "Signika-Bold", sans-serif;
  font-weight: 700;
}

%news-border {
  border-radius: 6px;
  padding: 0 6px;
}