@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// ------ BLOCKS

@import "blocks/header";

// ------ СOMPONENTS

@import "components/counter";
@import "components/cards";


.menu {
  background-color: $green-900;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  &__dropdown {
    position: relative;
    display: inline-block;
  }

  &__dropdown-button {
    position: relative;
    padding: 15px 45px 15px 60px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: $green-900;
    background-color: $white;
    border: none;
    border-radius: 6px;

    &::before {
      content: "";
      position: absolute;
      left: 18px;
      width: 25px;
      height: 17px;
      background-image: url("../images/icons/nav_icon.svg");
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: 15px;
      width: 7px;
      height: 4px;
      background-image: url("../images/icons/chevron.svg");
    }

    &:hover {
      background-color: $green-200;
    }
  }

  &__dropdown-content {
    position: absolute;
    top: 45px;
    z-index: 1;
    display: none;
    width: 100%;
    background-color: $white;
    border: 1px solid $silver-100;
    border-radius: 0px 0px 6px 6px;
    overflow: auto;

    &--on {
      display: block;
    }
  }

  &__dropdown-content a {
    display: block;
    padding: 15px 21px;
    color: $dark-900;
    text-decoration: none;
    border-bottom: 1px solid $silver-600;
    border-left: 3px solid transparent;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;
    }
  }
}

.show {
  // функция в main.js для выпадения списка
  display: block;
}

.form {
  display: flex;
  max-width: 576px;
  width: 100%;

  &__input {
    position: relative;
    width: 100%;
    height: 50px;
    padding-left: 50px;
    border: none;
    border-radius: 6px 0 0px 6px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: $dark-800;
    transition: background-color 0.3s;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("../images/icons/loupe.svg");
      background-repeat: no-repeat;
    }
    &:hover {
      background-color: $green-100;
    }
    &:focus {
      border-radius: 6px 0 0px 6px;
    }

    &::placeholder {
      color: $dark-800;
    }
  }

  &__button {
    padding: 15px 55px;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
    background-color: $dark-800;
    border: none;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &:focus {
      border-radius: 0 6px 6px 0;
    }
  }
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-right: 16px;

  &__item:not(:last-child) {
    margin-right: 18px;
  }

  &__number {
    position: absolute;
    top: 0;
    right: 25px;
    padding: 2px 3px;
    font-size: 10px;
    text-align: center;
    color: $red-900;
    background-color: $white;
    border-radius: 20px;
  }
}

.user-button {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: $green-1000;
  }

  &:active {
    background-color: $green-900;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:active svg {
    opacity: 0.5;
  }
}

// ------ SLIDER

.hero-slider {
  &__item {
    position: relative;
    width: 100%;
    background-size: cover;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: calc(100vh - 369px);
    min-height: 450px;
  }

  &__text {
    margin-bottom: 30px;
    padding: 24px;
    max-width: 900px;
    color: $dark-500;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
  }

  &__text p {
    max-width: 700px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: normal;
  }

  &__title {
    font-family: "Signika", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__title-discount {
    display: block;
    margin-bottom: 14px;
    color: $red-900;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid transparent;
    border-radius: 6px;
    outline: transparent;
    transform: translateY(-50%);

    &:focus {
      border: 3px solid $green-200;
      border-radius: 6px;
    }

    &.slick-prev {
      left: 60px;
    }

    &.slick-next {
      right: 60px;
    }
  }
}

// ------ BENEFITS

.benefits {
  &__list {
    display: flex;
    justify-content: center;
    padding: 48px 0;
    background-color: $silver-100;
  }

  &__content {
    letter-spacing: normal;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 280px;
    padding-left: 74px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
    }

    &--moto::before {
      background-image: url("../images/icons/scooter.svg");
    }

    &--cashback::before {
      background-image: url("../images/icons/cashback.svg");
    }

    &--privat::before {
      background-image: url("../images/icons/privat.svg");
    }
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__title {
    display: block;
    margin-bottom: 8px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }

  &__text {
    font-weight: 400;
    color: $dark-500;
  }
}

// ------ PRODUCTS

.top-products {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__more {
    text-align: center;
  }
}

.products-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  &__item:not(:last-child) {
    margin-right: 16px;
  }

  &__button {
    padding: 0;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: $dark-500;
    text-transform: uppercase;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;
  }

  &__button:hover {
    border-bottom: 3px solid $green-200;
  }
}

// ------ BANNERS

.banners {
  &__list {
    display: grid;
    grid-template-columns: 630px 300px 300px;
    gap: 30px;
  }

  &__item {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: box-shadow 0.3s;
  }

  &__item:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: $dark-500;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 260px;
    padding: 32px;
  }

  &__content--bigwidth {
    max-width: 470px;
    color: $white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  }

  &__subtitle {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1;
  }

  &__title {
    margin-bottom: 18px;
    font-family: "Signika", sans-serif;
    font-size: 30px;
    letter-spacing: normal;
  }

  &__link-buy {
    border-bottom: 2px solid $dark-500;
  }

  &__link-buy--border {
    border-bottom: 2px solid $white;
  }
}

// ------ STOCK

.stock {
  margin: 72px 0;
  background-color: $silver-100;
}

// ------ LOGOTYPES

.logotype-slider {
  // поставил svg по центру слайдера, не выходить нормально поставить их от края до края,
  //как в макете, так же не удалось центрировать элементы
  height: 80px;

  &__item svg {
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

// ------ OUR-NEWS

.our-news {
  &__title {
    text-align: left;
    letter-spacing: 1.6px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    max-width: 410px;
    width: 100%;
    font-size: 18px;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    width: 65px;
    height: 75px;
    padding-top: 18px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
  }

  &__number {
    display: block;
    font-family: "Signika", sans-serif;
    font-weight: 600;
    font-size: 30px;
  }

  &__link {
    padding: 260px 18px 18px;
    transition: color 0.3s;
  }

  &__link:hover {
    color: $green-900;
  }
}

// ------ FOOTER

.footer {
  padding: 30px 0 20px;
  font-weight: 400;
  color: $white;
  background-color: $dark-800;

  &__logo {
    display: inline-block;
    margin-bottom: 25px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__text {
    width: 300px;
    margin-bottom: 18px;
    line-height: 1;
  }

  &__menu {
    display: flex;
  }

  &__bottom {
    padding-top: 20px;
  }
  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form {
  &--subscribe {
    width: 300px;
  }

  &::before {
    display: none;
  }

  &__input--subscribe {
    height: 40px;
    padding-left: 12px;
    letter-spacing: normal;
  }
}

.main-button--subscribe {
  width: 118px;
  height: 40px;
  padding: 0 10px 0 8px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $green-900;
  border-radius: 0 6px 6px 0;

  &:active {
    border-radius: 0 6px 6px 0;
  }

  &:focus {
    border-radius: 0 6px 6px 0;
  }
}

.footer-menu {
  &:not(:last-child) {
    margin-right: 85px;
  }
  &__item:not(:last-child) {
    margin-bottom: 18px;
  }
}

.contact {
  &__address {
    font-style: normal;
  }

  &__list {
    margin-bottom: 18px;
  }

  & li:not(:last-child) {
    margin-bottom: 18px;
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }
}

.bank-card {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 24px;
  }
}
