@import "common/vars";
@import "common/fonts";
@import "common/reset";
@import "common/libs";
@import "common/global";

// ------ BLOCKS

@import "blocks/header";
@import "blocks/menu";
@import "blocks/hero-slider";
@import "blocks/benefits";
@import "blocks/top-products";
@import "blocks/banners";
@import "blocks/stock";
@import "blocks/logotypes";
@import "blocks/our-news";
@import "blocks/footer";

// ------ СOMPONENTS

@import "components/cards";
@import "components/counter";
@import "components/breadcrumbs";
@import "components/accordion";
@import "components/range-slider";
@import "components/animation";



.catalog-filter {
  margin-bottom: 50px;
  display: flex;
  justify-content:flex-end;
}



.catalog {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__aside {
    width: 100%;
    max-width: 300px;
    margin-right: 30px;
  }
}

.jq-selectbox {
  &__select {
    padding: 13px 46px 13px 15px;
    border: 1px solid $silver-600;
    border-radius: 3px;
  }

  &__dropdown {
    top: 46px;
    width: 100%;
    border: 1px solid $silver-600;
  }
}

.catalog-filter__button {
  position: relative;
  width: 47px;
  height: 47px;
  background-color: $silver-100;
  border: none;
  border-radius: 3px;

  &::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 35px;
    height: 35px;
    background-image: url('../images/icons/filter-list.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.filter-price {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 24px 18px 0;
  }

  &__number {
    width: 72px;
    padding: 9px 10px;
  }
}
