.breadcrumbs {
  color: $dark-500;
  background-color: #f6f6f6;
  padding: 24px 0;
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    position: relative;
    margin-right: 18px;
  }

  &__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -11px;
    width: 6px;
    height: 10px;
    background-image: url("../images/icons/breadcrumbs-arrow.svg");
    background-repeat: no-repeat;
  }
}